/ProyectoFinalAnalisis_alejo/build/
/ProyectoFinalAnalisis_alejo/analisis1-master/analisis1-master/ProyectoAnalisis_jhonier/build/
/ProyectoFinalAnalisis_alejo/analisis1-master/analisis1-master/ProyectoAnalisis_jhonier/dist/
/ProyectoFinalAnalisis_alejo/analisis1-master/analisis1-master/ProyectoAnalisis_jhonier/nbproject/private/